<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
    <body>

        <form action="/register" method="post">
  <div id="container">
      <h1 id="logo"><a href="/">2DV513_final</a></h1>
      <input type="text" placeholder="Username" name="username" required>
    <input type="text" placeholder="First Name" name="first_name" required>
    <input type="text" placeholder="Last Name" name="last_name" required>
    <input type="text" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <span class="underline"></span>

    <button type="submit">Register</button>
  </div>
</form>


    </body>
</html>