<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
    <body>

        <h1 style="text-align: center;">Your acount has been registerd!</h1>

    </body>
</html>