<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/stats.css">
    </head>
    <body>

        <h1 id="home"><a href="/">Home</a></h1>

        <div>
            <h2>Most popular bike</h2>
        </div>

    </body>
</html>