body {background-image: linear-gradient(to right, rgb(143, 0, 143) , rgb(68, 0, 255)); font-family: Tahoma,Verdana,Segoe,sans-serif; }

#username {text-align: center; margin-top: 50px}
#name {text-align: center;}
.profileValues {display: inline;}

.container {border: 2px solid black; padding: 25px; border-radius: 15px; width: 400px; position: relative; display: inline-block; vertical-align: top; margin: 20px;}
.bike {border: 1px solid black; padding: 10px; border-radius: 10px; margin: 20px;}
.header {text-align: center; margin-top: -10px}

button, .menuButton {margin: 20px; border-color: black; padding: 10px; font-size: 20px; font-weight: bold; border-radius: 10px; cursor: pointer; box-shadow: 3px 3px; background-color: rgb(255, 82, 241);}
button:hover, .menuButton:hover {box-shadow: 8px 8px; border-radius: 15px; transition-duration: 200ms;}

#newBikeWindows, #changeRunInfoWIndow, #changeSwimInfo, #editHWContainer {z-index: 2; text-align: center; margin-top: -100px;background-color: aqua; padding: 15px; border: 1px solid black; border-radius: 10px; box-shadow: 3px 3px; position: absolute; width: 500px; visibility: hidden;}

option, select {font-size: 20px; background: rgb(143, 0, 143); border-radius: 5px; outline: none; border: 1px solid black;}

.chnageInput {font-size: 18px; background: rgb(143, 0, 143); border-radius: 5px; outline: none; border: 1px solid black; text-align: center; margin-top: 20px;}

#min, #sec {width: 80px; margin-top: 0px;}

#trainingShoeP, #racingShoeP, #paceP, #wetsuitP {display: inline; font-size: 18px; font-weight: bold;}

.runHeadder {display: inline;}
.shoeLabel {display: block; margin-bottom: -10px;}

#editHW {display: inline; padding: 5px;}
#values {display: inline; margin-left: 100px;}

#profileContainer {text-align: center;}

#eventContainer {width: 80%;}
#eventHeader {text-align: center; margin-top: -10px;}

.eventBox {border: black solid 1px; border-radius: 10px; padding: 10px; text-align: center;}
.qHeader {display: inline;}

table, th, td {border: 1px solid black; border-collapse: collapse; margin-top: 30px;}

#menuBar {position: fixed; padding: 40px; background: purple; right: 0px; height: 100%; top: 0px; border: 2px solid black;}

.menuButton {text-decoration: none; color: black;}

