body {background-image: linear-gradient(to right, rgb(143, 0, 143) , rgb(68, 0, 255));}

#home {text-align: center;}

a {text-decoration: none; color: black;}
h2 {text-align: center;}

.container {border: 2px solid black; padding: 15px; border-radius: 10px; width: 400px; position: relative; display: inline-block; vertical-align: top; margin: 10px;}
#eventContainer {width: 800px;}

.list, .runTimes {font-size: 20px; margin: 5px;}
.list:before, .runTimes {display: inline-block;}
#info {text-align: center; margin-top: -20px;}

.acces {display: inline-block; margin: 5px;}
